body{
    background-color: var(--indigo-dark-2);
    min-height: 90vh;
}
/* ---------------------------- */
/* Modific */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
hr.hr-w{
    border-bottom: .1rem solid rgba(255, 255, 255, 0.2);
}
.i-spin-r{
    /* animation: a-icon-spin-l 1s linear infinite!important; */
    animation-duration: 1.5s;
}
/* ---------------------------- */
/* Form Group */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
.form-group{
    width: 100%;
}
.form-group > *:not(:first-child){
    margin-top: 1rem;
}
.form-group > *:last-child{
    margin-top: 2rem;
}
.form-item{
    margin: 0; /* TODO · Checar con existenteen librería 02/11/2020 */
    display: grid;
    align-items: center;
    column-gap: 1rem;
    row-gap: .5rem;
}
.form-item > label{
   
}
.form-item > select{
    
}
@media only screen and (min-width: 589px){
/* Móviles en vertical */
    .form-item{
        grid-template-columns: 30% 1fr;
    }
}